body {max-width: 1200px; margin: 0 auto;}
h1, h3, h4 {font-family: Montserrat, Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 21px; padding: 25px;}
h1 {color: white; font-size: 21px;}
h3 {color: black; font-size: 16px;}
h4 {color: black; font-size: 12px; text-align: center;}
.main-image h4 {color: white;}
header {/*Change the width to 100%!*/ width: 100%; height: 80px; background-color: #f16059; margin: 0 auto;}
.top-section, .bottom-section { /*Change the width to 100%!*/ width: 100%; margin: 0 auto;}
.main-image {/*Change the width to 66.67%!*/ width: 66.67%; height: 350px; background-color: #666; float: left;}
.main-title {/*Change the width to 33.33%!*/ width: 33.33%; height: 350px; background-color: #eeeeee;float: right;}
.section-one, .section-two, .section-three {/*Change the width to 33.33%!*/ width: 33.33%; height: 250px; float: left;}

.section-two {background-color: #ccc;}
.section-one, .section-three {background-color: #ddd;}

footer {/*Change the width to a 100%!*/width: 100%; height: 80px; background-color: #eee; margin: 0 auto; clear: both;}
