@charset "UTF-8";
/* CSS Document */

body, html{
  text-align:center;
  font-family:Gotham, Helvetica, Arial, sans-serif;
  font-size:1em;
}
section{
  width:50%;
  margin:auto;
}
h1{
  font-size:2em;
}
h2{
  font-size:1.5em;
}