@charset "UTF-8";
/* CSS Document */

html, body{
  margin:0px;
}
.clear{
  clear:both;
}
#wrapper{
  width:100%;
  max-width:960px;
  margin:auto;
}

/*---------- HEADER ----------*/

header{
  height:300px;
  width:100%;
  background:#e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3{
  width:33.3%;
  height:320px;
  float:left;
}
.color-1{
  background:#d5d5d5;
}
.color-2{
  background:#c4c4c4;
}
.color-3{
  background:#b7b7b7;
}


/*---------- FOOTER ----------*/

footer{
  width:100%;
  height:30px;
  background:#e3e3e3;
}



/*---------- TABLET ----------*/
/* Change the colors below */

@media (min-width: 768px) {
  header{
    background-color:#666;
  }

  .color-1{
    background-color:#e3e3e3;
  }
  .color-2{
    background-color:#CCC;
  }
  .color-3{
    background-color:#999;
  }
  footer{
    background-color:#666;
  }
}


/*---------- MONITORS ----------*/

@media (min-width: 1200px) {
  header{
    background-color:#000;
  }
  .color-1{
    background-color:#999;
  }
  .color-2{
    background-color:#666;
  }
  .color-3{
    background-color:#333;
  }
  footer{
    background-color:#000;
  }
}
