@charset "UTF-8";
/* CSS Document */

html, body{
  margin:0px;
}
.clear{
  clear:both;
}
#wrapper{
  width:100%;
  max-width:960px;
  margin:auto;
}

/*---------- HEADER ----------*/

header{
  height:300px;
  width:100%;
  background:#e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3{
  width:100%;
  height:320px;
  float:left;
}
.column-1 {
  background:#d5d5d5;
}
.column-2 {
  background:#d5d5d5;
}
.column-3 {
  background:#d5d5d5;
}


/*---------- FOOTER ----------*/

footer{
  width:100%;
  height:30px;
  background:#e3e3e3;
}



/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header{
    background-color: ;
  }

  .column-1{
    background-color: ;
  }
  .column-2{
    background-color: ;
  }
  .column-3{
    background-color: ;
  }
  footer{
    background-color: ;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header{
    background-color: ;
  }

  .column-1{
    background-color: ;
  }
  .column-2{
    background-color: ;
  }
  .column-3{
    background-color: ;
  }
  footer{
    background-color: ;
  }
   
}
