@charset "UTF-8";
/* CSS Document */

html, body{
  margin:0px;
}
.clear{
  clear:both;
}
#wrapper{
  width:100%;
  max-width:960px;
  margin:auto;
}

/*---------- HEADER ----------*/

header{
  height:300px;
  width:100%;
  background:#e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3{
  width:33.3%;
  height:320px;
  float:left;
}
.grey-1{
  background:#d5d5d5;
}
.grey-2{
  background:#c4c4c4;
}
.grey-3{
  background:#b7b7b7;
}


/*---------- FOOTER ----------*/

footer{
  width:100%;
  height:30px;
  background:#e3e3e3;
}