body, html{

}
.clear{
	clear: both;
}

div{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.character-container, .character{
	width:350px;
	height: 350px;

}

.character{
	background: url(../img/stand.png) no-repeat center center;
}
.jump{
	background-image: url(../img/jump.png);
}
.walk-left{
	background-image: url(../img/left.png);
}
.walk-right{
	background-image: url(../img/right.png);
}