body, html{
	font-family: 'Montserrat', sans-serif;
	color:#a3d3c6;
}
.clear{
	clear: both;
}

h1{
	padding: 10px;
    border: 1px solid;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.container{
	max-width: 600px;
	width: 80%;
	margin:auto;
	text-align: center;
	margin-top: 50px;
}
.character-container, .character{
	width:350px;
	height: 350px;
	margin:auto;
}

.character{
	background: url(../img/stand.png) no-repeat center center;
}
.tap{
	background-image: url(../img/jump.png);
}
.jump{
	background-image: url(../img/jump.png);
}
.walk-left{
	background-image: url(../img/left.png);
}
.walk-right{
	background-image: url(../img/right.png);
}