@charset "UTF-8";
/* CSS Document */

body, html{
  text-align:center;
  font-family:Gotham, Helvetica, Arial, sans-serif;
  font-size:1em;
}
section{
  width:50%;
  margin:auto;
}
h1{
  font-size:2em;
  color:#4eafb8;
}
h2{
  font-size:1.5em;
  color:#ff8641;
}
p{
  color:#7b7d70;
}

@media (min-width: 768px) {
  h1{
    color:#02cbd2;
  }
  h2{
    color:#fcc02a;
  }
  p{
    color:#7b8f8e;
  }

}

@media (min-width: 1200px) {
  h1{
    color:#6e4b61;
  }
  h2{
    color:#cabd61;
  }
  p{
    color:#c19e74;
  }

}

@media (min-width: 1400px) {
  h1{
    color:#ac0d23;
  }
  h2{
    color:#f97e2c;
  }
  p{
    color:#42332e;
  }
	
}

