body{
	background:#f9f9f9;
	color:#848484;
}
h1, .jumbotron h1{
	color:#f26c4f;
}
.navbar {
	margin-bottom: 0px;
}
.jumbotron p{
	color:#f26c4f;
}

.btn-default {
	background-color: #f26c4f;
    color: #fff;
    border-radius: 0px;
    border: none;
}
.btn-default:hover{
	background-color: #ce583e;
	color: #fff;
}