@charset "UTF-8";
/* CSS Document */

/* ------------ Layout Styles ------------*/

html, body{
  margin:0px;
  background:url(../img/symphony.png) repeat;
  /* Background image from http://subtlepatterns.com/ */
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  color:DimGray;
}

#wrapper {
  margin-top:150px;
}

.line{
  border: 1px solid grey;
  margin: 30px auto;
  width: 50%;
}

/* ------------ Page Header Styles ------------*/

h1, h2, h3, h4{

}

h1{
	color:tomato;
}
  h1.name{
    margin-bottom:0px;
    border:10px solid tomato;
    padding:30px;
    display:inline;
}

h2{
  color:Salmon;
}
  h2.title{
    margin-top: 40px;
    padding: 30px;
  }


/* -------------- Text Styles ------------*/

.phone{
	color:DarkSeaGreen;
}

a.email{
	color:DarkSeaGreen;
	text-decoration:none;
}

.quote{
  font-style:italic;
  font-size:20px;
  margin-top:50px;
  line-height:30px;
}


